

/*기본 메뉴 css*/
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    min-width: 1100px;
}
a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;

}
nav ul li {
    font-size: 22px;
    padding: 10px 12px;
    margin-left: 70px;
    margin-right: 70px;
    white-space: nowrap;

}
nav ul li a {
    color: white;
    font-weight: bolder;
}
*        { margin:0; padding: 0; }

.board:hover .menu-sub {
    visibility: inherit;
    pointer-events: auto;
    display: block;

}
.menu-sub {
    background: white;
    position: absolute;
    border: 2px solid #1b5ac2;
    transform: translate(-38px,10px);
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
    display: none;
    visibility: hidden;
}
.menu-sub li {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.menu-sub li a{
    color: black;
    font-weight: bolder;
}